body {
  padding-top: 20px;
  padding-bottom: 50px;
}

.fileDropRoot {
  height: 100%;
  min-height: 100%;
  margin-left: 0px;
  padding: 12px;
  padding-left: 0px;
}

.panel {
  z-index: 0;
}

.dir-entries {
  max-height: 30em;
  overflow: scroll;
}

.dir-entry {
  margin: 6px;
  background-color: white;
}

#localFiles .dir-entry i.icon-remove {
  /* for now, we do not support local removal */
  display: none;
}

.dir-entry {
  padding-left: 10px;
}

.fileDropRoot.dropHint {
  border: solid 2px #d47500;
  border-radius: 10px;
  padding-left: 12px;
}

.dir-entry.dropHint {
  background-color: #ddd;
}

.dir-entries {
  padding: 8px;
  overflow: auto;
}

.login-btn {
  height: 11em;
  width: 10em;
  margin: 6px;
  display: block;
  position: relative;
  white-space: normal;
}

h1.landing {
  text-align: center;
  font-size: 4em;
  padding-top: .25em;
 }

.cloud-image {
  z-index: -1;
  position: absolute;
  padding-left: 10em;
}

.sub-header {
  text-align: center;
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
}

.white {
  background-color: white;
}

.login {
  font-size: 2em;
}

h2.full-dir {
  font-size: 2em;
  color: black;
}

#azureStorage {
  padding-top: 37px;
}

.display-folder-name {
  padding-left: 5px;
}

.table>tbody+tbody {
 border-top: 1px solid #dddddd; 
}

.spinner {
    margin-top: -175px;
    text-align:center;
    z-index:1234;
}

table thead th {
  background-repeat: no-repeat;
  background-position: center left;
}

.tablesorter-headerAsc {
  background-image: url("/img/ice-asc.gif"); 
}

.tablesorter-headerDesc {
  background-image: url("/img/ice-desc.gif"); 
}

.tablesorter-headerUnSorted {
  background-image: url("/img/ice-unsorted.gif");
}

.no-arrows .tablesorter-header-inner {
  padding-left: 0px;
}

.tablesorter-header-inner {
  padding-left: 10px;
}

.no-arrows {
  background-image: none;
}

