<!doctype html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{> page/title}}</title>

	<!-- jquery -->
	<script src="/vendor/jquery-1.10.1.min.js"></script>

	<!-- jquery ui -->
	<link href="/vendor/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
	<script src="/vendor/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- Background -->
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<!-- Tablesorter -->
	<script src="/vendor/jquery.tablesorter.js"></script>

</head>

<body>
	<!--Navbar-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#" formmethod="get">Cx</a>
      <ul class="nav navbar-nav">
      	{{#if session}}
      	<li><a href="/logout"> Logout </a></li>
      	{{/if}}
      </ul>
    </div>
  </div>
</nav>
<!-- Flash -->
	<div class="container" style="height:inherit;">
	{{#if flash}}
		<div class="alert alert-dismissible alert-{{flash.type}}">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
			<strong>{{flash.intro}}</strong>
			{{{flash.message}}}
		</div>
	{{/if}}
	<!--Page body-->
		{{{body}}}
	</div>

</body>
</html>
