<!doctype html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{> page/title}}</title>

	<!-- jquery -->
	<script src="/vendor/jquery-1.10.1.min.js"></script>

	<!-- jquery ui -->
	<link href="/vendor/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
	<script src="/vendor/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

	<style>
		/* color scheme: http://colorschemedesigner.com/#3u21Tw0w0w0w0 */

		.dirContainer {
		}

		.dirContainer .row {
		}

		.dirContent {
		}

		.fileDropRoot {
			height: 100%;
			min-height: 100%;
			border: solid 2px blue;	
		}

		.dir-entries {
			height: 100%;
			overflow-y: scroll;
		}

		.dir-entry {
			margin: 6px;
		}

		#localFiles .dir-entry i.icon-remove {
			/* for now, we do not support local removal */
			display: none;
		}

		.dir-entry {
		}

		.dir-entry.dir {
			/*background: #64a8d1;*/
			border: solid 1px #64a8d1;
			border-radius: 4px;
		}

		.fileDropRoot {
			border: solid 3px transparent;
			padding: 12px;
			font-family: 'Andale Mono', monospace;
		}

		.fileDropRoot.dropHint {
			border: solid 3px #ff8c00;
		}

		.dir-entry.dropHint {
			background-color: #ddd;
		}

		.dir-header {
			padding: 8px;
			background-color: #64a8d1;
			color: white;
		}

		.dir-entries {
			max-height: 30em;
			border: solid 1px #65a8d1;
			padding: 8px;
			overflow: scroll;
		}

		.size {
			float: right;
			display: none;
		}

		.modified {
			float: right;
		}

		.bigsize {
			float: right;
		}

	</style>

</head>
<body>

	<div class="container" style="height:inherit;">
		{{{body}}}
	</div>

</body>
</html>