<h1>Microsoft Azure Storage Explorer</h1>

<div class="col-md-4">
	<form action="/login" method="post">
		<div class="form-group">
			<label for="accountName">Account:</label>
			<input type="text" name="accountName" id="accountName" class="form-control" />
		</div>
		<div class="form-group">
			<label for="accountKey">Key:</label>
			<input type="password" name="accountKey" id="accountKey" class="form-control" />
		</div>
		<div>
			<input type="submit" class="btn btn-info" value="Connect" />
		</div>
	</form>
</div>
