<h1>Microsoft Azure Storage Explorer</h1>

<form action="/login" method="post">
	<div>
		<label for="accountName">Account:</label>
		<input type="text" name="accountName" id="accountName" />
	</div>
	<div>
		<label for="accountKey">Key:</label>
		<input type="password" name="accountKey" id="accountKey" />
	</div>
	<div>
		<input type="submit" value="Connect" />
	</div>
</form>
